* {
  box-sizing: border-box;
}

:root {
  --bg-color: #f8f9fa;
  --text-color: #2d3436;
  --border-color: #dfe6e9;

  /* components color */
  --surface-color: #ffffff; /* card or input bg */
  --primary-color: #6c5ce7; /* btn color */
  --primary-hover: #5b4bc4; /* btn hover */
  --secondary-bg: #e9ecef; /* secondary bg */

  /* Font Sizes */
  --fs-sm: 0.875rem; /* 14px */
  --fs-base: 1rem; /* 16px */
  --fs-md: 1.25rem; /* 20px */
  --fs-lg: 1.5rem; /* 24px */
  --fs-xl: 2rem; /* 32px */
  --fs-xxl: 3rem; /* 48px */
  --fs-3xl: 4rem; /* 64px */

  /* Line Height */
  --lh-tight: 1.2;
  --lh-base: 1.5;
}

[data-theme="dark"] {
  --bg-color: #1a1c2c;
  --text-color: #d1d1d1;
  /* components color */
  --surface-color: #24273d;
  --primary-color: #8275e9;
  --primary-hover: #9a8fff;
  --secondary-bg: #2d314d;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:
    background-color 0.3s,
    color 0.3s;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* global styles */
h1 {
  margin: 0;
  line-height: var(--lh-tight);
  color: var(--text-color);
  font-size: clamp(var(--fs-lg), 3vw, var(--fs-3xl));
  font-weight: 700;
}

.text-sm {
  font-size: var(--fs-sm);
}
.text-base {
  font-size: var(--fs-base);
}

button {
  cursor: pointer;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  font-size: var(--fs-base);
  font-weight: 500;
  transition: all 0.2s ease;
  border: 1px solid transparent;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
  background-color: var(--surface-color);
  width: 100%;
}

nav h1 {
  flex-grow: 1;
}

#theme-toggle {
  flex-basis: 42px;
  background-color: var(--secondary-bg);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  padding: 0;
  border-radius: 50%;
}

#theme-toggle:hover {
  filter: brightness(0.9);
}

#theme-toggle svg {
  width: 24px;
  height: 24px;
  fill: currentColor;
  flex-shrink: 0;
}

@media (min-width: 560px) {
  nav {
    text-align: center;
  }
}

/* Actions section */
.actions {
  display: grid;
  grid-template-columns: 70px 1fr;
  gap: 1.25rem;
  padding: 2rem 1.5rem;
}

select,
input[type="color"] {
  background-color: var(--surface-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 0.6rem;
  border-radius: 4px;
  outline: none;
}

input[type="color"] {
  width: 100%;
  height: 48px;
  min-height: 44px;
  padding: 2px;
  cursor: pointer;
  border-radius: 10px;
}

select {
  width: 100%;
  height: 48px;
  padding: 0 0.8rem;
  font-size: var(--fs-base);
  font-weight: 700;
}

#get-scheme-btn {
  grid-column: span 2;
  height: 48px;
  background-color: var(--primary-color);
  color: #ffffff;
  font-size: var(--fs-base);
  box-shadow: 0 4px 6px -1px rgba(108, 92, 231, 0.2);
}

#get-scheme-btn:hover {
  background-color: var(--primary-hover);
}

@media (min-width: 560px) {
  .actions {
    max-width: 800px;
    margin: 0 auto;
    grid-template-columns: 70px 1fr 200px;
    align-items: center;
  }
  #get-scheme-btn {
    grid-column: auto;
    margin: 0;
  }
}

/* Results section */
.results {
  width: 97%;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
}

.color-column {
  height: 85px;
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: flex-grow 0.3s ease;
  cursor: pointer;
}

.color-column span {
  font-family: "Monospace", monospace;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.8);
  color: #2d3436;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  font-size: var(--fs-md);
}

@media (min-width: 560px) {
  .results {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 2.5rem 2rem;
    border: none;
    max-width: 960px;
    margin: 0 auto;
    height: 450px;
  }
  .color-column {
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
  }
}
