* {
  box-sizing: border-box;
}

:root {
  --bg-color: #F8F9FA;
  --text-color: #2D3436;
  --border-color: #DFE6E9;
}

[data-theme="dark"] {
  --bg-color: #1A1C2C; 
  --text-color: #D1D1D1; 
  --border-color: #333752;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:
    background-color 0.3s,
    color 0.3s;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
